h1 Din profil 

h2 Dina skapade recept 
- recipes.each do |recipe|
    ul 
    a href="recipes/#{recipe['recipe_id']}" #{recipe['title']}


h3 Skapa ett recept!
a href="/recipes/new" Skapa recept! 

h3 Uppdatera ett recept! 
a href="/recipes/edit" Uppdatera 

h3 Kolla på alla publika recept! 
a href="/recipes/public" Alla recept




