link rel="stylesheet" href="../css/style.css"/    

h1 #{result["title"]} 
h1 Skapare:#{creator["username"]}

h2 Information:
p Receptet tillhör kategorierna: 
- categories.each do |category|
    ul 
    p #{category["name"]}

h2 Instruktioner:
p #{result["content"]}

h2 Bokmarkera
form action="#{result['recipe_id']}/like" method="post"
    input type="submit" value="Like"
form action="#{result['recipe_id']}/dislike" method="post"
    input type="submit" value="Dislike"




