link rel="stylesheet" href="../css/styles.css"/    
  
h1 #{result["title"]} 


h2 Information:
p Receptet som du har sökt efter är skapad av användaren #{creator["username"]}
p Receptet tillhör kategorierna: 
- categories.each do |category|
    ul 
    p #{category["name"]}

h2 Instruktioner:
p #{result["content"]}



