h1 #{result["title"]} 


h2 Information:
p Receptet som du har sökt efter är skapad av användaren #{creator["username"]}
p Receptet tillhör kategorin #{categories["name"]}

h2 Instruktioner:
p #{result["content"]}



